* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 0px 0;
    background-color: #c00;
    font-family: 'Playfair Display', serif;  
    font-weight:300;
}

body {
    font-family: 'Playfair Display', serif;
}

.logo a img {
    width: 250px;
    height: auto;
}

header nav li{
    display: inline;
    margin-left: 16px;
}

header nav li a{
    color: black;
    font-size: 28px;
    text-decoration: none;
    font-weight: bold;
}

.logo,
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#criar-conta {
    background-color: black;
    color:white;
    padding: 10px 45px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 3px 3px 5px rgba(0,0,0,5);
    text-decoration: none;
    font-weight: bold;
    color:#c00;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
    background-color: black;
}

section h1 {
    margin-bottom: 16px;
    font-size:50px;
    color: white;
    font-family: 'Playfair Display', serif;
}

section img {
    margin-right: 38px;
    width: 600px;
}

section p {
    font-size: 20px;
    color:white
}

#online img {
    width: 600px;

}

#criar-conta .container {
    display: block;
}

.formulario {
    display: flex;
    justify-content: center;
}

form input,
form button,
form ::placeholder {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: none;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    color: rgb(94, 94, 94);
    padding: 12px;
}

form button {
    background-color:#c00;
    color:black;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}

#criar-conta h1 {
    display: flex;
    justify-content: center;
}

footer {
    background-color:rgb(255, 255, 255) ;
    padding: 5px;
}

footer .contato {
    display: flex;
    align-items: center;
}

#insta {
    margin-right: 6px;
}